@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.appContainer {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
